.header {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: cornflowerblue;
}

.title {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.spinner-center {
    justify-content: center;
    position: relative;
}

.text-spinner {
    text-align: center;
    font-size: 18px;
}