.header {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: cornflowerblue;
}

.spinner-center {
    justify-content: center;
    position: relative;
}

.text-spinner {
    text-align: center;
    font-size: 18px;
}